.btn {
    background-color: #fff;
    border: 2px solid #fff;
    width: 212px;
    height: 44px;
    color: $third;
    font-size: 16px;
    font-weight: 400;
    span {
        padding-left: 10px;
    }
    &_white {
        border: 2px solid $main;
    }
}