.services {
    padding-top: 150px;
    &__items {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        column-gap: 49px;
    }
    &__divider {
        margin-top: 29px;
    }
    &__title {
        margin-top: 4px;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 70px;
    }
}