.teem {
    padding-top: 100px;
    &__block {
        margin-left: 483px;
    }
    &__imgs {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        padding-top: 18px;
        width: 300px;
        font-style: 15px;
        line-height: 26px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
}